body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background: linear-gradient(#1a1a1a, #333);
    border: 3px solid #00ffee;
    border-radius: 10px;
}
